<div class="form-container">
  <form (ngSubmit)="Submit()" [formGroup]="searchDetails">

    <div class="form-group">
      <input list="airports" (onselect)="assignCityCode()" name="originAirports" formControlName="oCity" placeholder="Enter Origin City">
    </div>

    <div class="form-group">
      <input list="airports" name="destinationAirports" formControlName="dCity" placeholder="Enter Destination City">
    </div>

    <div class="form-group">
      <input type="text" onfocus="(this.type='date')" formControlName="dDate" onblur="(this.type='text')" name="departDate" placeholder="Departure Date">
    </div>

    <div class="form-group">
      <input type="text" *ngIf="activeTab===2" onfocus="(this.type='date')" formControlName="rDate" onblur="(this.type='text')" name="returnDate" placeholder="Return Date">
    </div>

    <div class="form-group">
      <select #passengers class="placeholder" formControlName="passenger">
        <option value="" hidden disabled selected>Passengers</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="btn-set">
      <button type="submit">Submit</button>
    </div>

    <datalist id="airports">
      <option *ngFor="let item of airports" (onselect)="assignCityCode()" value="{{item.code}}">{{item.name}}</option>
    </datalist>

  </form>
</div>
