/* You can add global styles to this file, and also import other style files */
@import './assets/bootstrap-css/bootstrap.css';
input, select {
    width: 100%;
}

.placeholder {
    color: #8a7575;
    height: 30px
}

.form-control-err {
    color: red;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
}

.nav-item, button{
    cursor: pointer;
}