<div class="container-fluid main-container">
  <div class="row">
    <div class="col-md-12 border-bottom">
      <div class="page-header">
        <h2>
          Flight Search Engine
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 border-bottom">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="nav-item" (click)="switchTab(1)">
                <a class="nav-link" [class.active]="activeTabNo === 1" data-toggle="tab"><b>One Way</b></a>
              </li>
              <li class="nav-item" (click)="switchTab(2)">
                <a class="nav-link" [class.active]="activeTabNo === 2" data-toggle="tab"><b>Return</b></a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" [class.active]="activeTabNo === 1">
                <app-flight-search-form (flightSearch)="displayFlightList($event)" [activeTab]="activeTabNo"></app-flight-search-form>
              </div>
              <div class="tab-pane" [class.active]="activeTabNo === 2">
                <p>
                  <app-flight-search-form (flightSearch)="displayFlightList($event)" [activeTab]="activeTabNo"></app-flight-search-form>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <div class="row">
            <div class="col-md-12 slider-title">
              <span><b>Refine Flight Search</b></span>
            </div>
          </div>

          <div class="row slider">
            <div class="tab-lay">
              <div class="tab-cell left">0</div>
              <div class="tab-cell right">10000</div>
            </div>
            <div class="col-md-12">
              <input type="range" min="" max="10000" value="10000" #costRange [(ngModel)]="rangeValue" class="slider"
                id="costRange">
            </div>
          </div>
          <div class="row">
            <p class="slider-title"><b>Rs. {{rangeValue}}</b></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8  border-left">
      <div class="row border-bottom" *ngIf="searchInfo && searchInfo.isReturn == true">
        <div class="col-md-6 places">{{searchInfo.from}} >
          {{searchInfo.to}} > {{searchInfo.from}}</div>
        <div class="col-md-6">
          <div class="row col-md-12 timing">Depart: {{searchInfo.dDate | date}}</div>
          <div class="row col-md-12 timing">Return: {{searchInfo.rDate | date}}</div>
        </div>
        <!-- <div class="col-md-12"> -->
        <!-- <div class="col-md-6 places" *ngIf="searchInfo && searchInfo.isReturn == true">{{searchInfo.from}} >
          {{searchInfo.to}} > {{searchInfo.from}}</div>
        <div class="col-md-6 places" *ngIf="(searchInfo && searchInfo.isReturn == false)">{{searchInfo.from}} >
          {{searchInfo.to}}</div>
        <div class="col-md-6" *ngIf="searchInfo">
          <div class="row col-md-12 timing">Depart: {{searchInfo.dDate | date}}</div>
          <div class="row col-md-12 timing">Return: {{searchInfo.rDate | date}}</div>
        </div> -->
        <!-- <div *ngIf="searchInfo && searchInfo.isReturn == true">
          <div class="col-md-6 places">{{searchInfo.from}} >
            {{searchInfo.to}} > {{searchInfo.from}}</div>
          <div class="col-md-6">
            <div class="row col-md-12 timing">Depart: {{searchInfo.dDate | date}}</div>
            <div class="row col-md-12 timing">Return: {{searchInfo.rDate | date}}</div>
          </div>
        </div>
        <div *ngIf="searchInfo && searchInfo.isReturn == false">
            <div class="col-md-6 places">{{searchInfo.from}} >
              {{searchInfo.to}}</div>
            <div class="col-md-6">
              <div class="row col-md-12 timing">Depart: {{searchInfo.dDate | date}}</div>
            </div>
          </div> -->
        <!-- </div> -->
      </div>
      <div class="row border-bottom" *ngIf="searchInfo && searchInfo.isReturn == false">
        <div class="col-md-6 places">{{searchInfo.from}} >
          {{searchInfo.to}}</div>
        <div class="col-md-6">
          <div class="row col-md-12 timing">Depart: {{searchInfo.dDate | date}}</div>
        </div>
        <!-- <div class="col-md-12"> -->
        <!-- <div class="col-md-6 places" *ngIf="searchInfo && searchInfo.isReturn == true">{{searchInfo.from}} >
            {{searchInfo.to}} > {{searchInfo.from}}</div>
          <div class="col-md-6 places" *ngIf="(searchInfo && searchInfo.isReturn == false)">{{searchInfo.from}} >
            {{searchInfo.to}}</div>
          <div class="col-md-6" *ngIf="searchInfo">
            <div class="row col-md-12 timing">Depart: {{searchInfo.dDate | date}}</div>
            <div class="row col-md-12 timing">Return: {{searchInfo.rDate | date}}</div>
          </div> -->
        <!-- <div *ngIf="searchInfo && searchInfo.isReturn == true">
            <div class="col-md-6 places">{{searchInfo.from}} >
              {{searchInfo.to}} > {{searchInfo.from}}</div>
            <div class="col-md-6">
              <div class="row col-md-12 timing">Depart: {{searchInfo.dDate | date}}</div>
              <div class="row col-md-12 timing">Return: {{searchInfo.rDate | date}}</div>
            </div>
          </div>
          <div *ngIf="searchInfo && searchInfo.isReturn == false">
              <div class="col-md-6 places">{{searchInfo.from}} >
                {{searchInfo.to}}</div>
              <div class="col-md-6">
                <div class="row col-md-12 timing">Depart: {{searchInfo.dDate | date}}</div>
              </div>
            </div> -->
        <!-- </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="searchInfo && searchInfo.isReturn == true; else OneWay">
            <div *ngIf="flightListWay2; else Welcome">
              <div *ngFor="let forwardFly of flightListWay1">
                <div *ngFor="let returnFly of flightListWay2">
                  <div *ngIf="forwardFly.airline === returnFly.airline">
                    <div *ngFor="let forwardItem of forwardFly.detail">
                      <div *ngFor="let returnItem of returnFly.detail">
                        <div class="row flight-details" *ngIf="getPrice(forwardItem.price,returnItem.price) <= rangeValue">
                          <div class="col-md-12">

                            <div class="row">
                              <div class="col-md-8">

                                <div class="row">
                                  <div class="col-md-12">
                                    <p class="flight-price">Rs. {{getPrice(forwardItem.price,returnItem.price)}}</p>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <p class="flight-name">{{forwardFly.airline}}</p>
                                    <p class="flight-det">{{forwardFly.from}} > {{forwardFly.to}}</p>
                                    <p class="flight-det">Depart: {{forwardItem.departTime}}</p>
                                    <p class="flight-det">Arrive: {{forwardItem.arriveTime}}</p>
                                  </div>
                                  <div class="col-md-6">
                                    <p class="flight-name">{{returnFly.airline}}</p>
                                    <p class="flight-det">{{returnFly.from}} > {{returnFly.to}}</p>
                                    <p class="flight-det">Depart: {{returnItem.departTime}}</p>
                                    <p class="flight-det">Arrive: {{returnItem.arriveTime}}</p>
                                  </div>
                                </div>

                              </div>
                              <div class="col-md-4 ">
                                <div class="row page-header"><img src="{{forwardFly.imgURL}}" alt="Image"></div>
                                <div class="row page-header"><button>Book this Flight</button></div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngTemplateOutlet = "NoFlightsFound"></ng-container>
            <!-- <NoFlightsFound *ngIf="isPresent==false"></NoFlightsFound> -->
          </div>
          <ng-template #OneWay>
            <div *ngIf="flightListWay1; else Welcome">
              <div *ngIf="flightListWay1.length > 0; else NoFlightsFound">
                <div *ngFor="let forwardFly of flightListWay1">
                  <div *ngFor="let forwardItem of forwardFly.detail">
                    <div class="row flight-details" *ngIf="getPrice(forwardItem.price) <= rangeValue">
                      <div class="col-md-12">

                        <div class="row">
                          <div class="col-md-8">

                            <div class="row">
                              <div class="col-md-12">
                                <p class="flight-price">Rs. {{getPrice(forwardItem.price)}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <p class="flight-name">{{forwardFly.airline}}</p>
                                <p class="flight-det">{{forwardFly.from}} > {{forwardFly.to}}</p>
                                <p class="flight-det">Depart: {{forwardItem.departTime}}</p>
                                <p class="flight-det">Arrive: {{forwardItem.arriveTime}}</p>
                              </div>
                            </div>

                          </div>
                          <div class="col-md-4 ">
                            <div class="row page-header"><img src="{{forwardFly.imgURL}}" alt="Image"></div>
                            <div class="row page-header"><button>Book this Flight</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </ng-template>
          <ng-template #NoFlightsFound>
            <p>No Flights Found for your search criteria! Please try again.</p>
          </ng-template>
          <ng-template #Welcome>
            <h1>Welcome to Flight Search Engine!</h1>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
