<div class="container-fluid main-container">
  <div class="row">
    <div class="col-md-12 border-all">
      <div class="page-header">
        <h1>
          Flight Search Engine
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 border-all">
          <div class="tabbable" id="tabs-611331">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#tab1" data-toggle="tab">Section 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tab2" data-toggle="tab">Section 2</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="panel-392161">
                <app-flight-search-form></app-flight-search-form>
              </div>
              <div class="tab-pane" id="tab2">
                <p>
                  Howdy, I'm in Section 2.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row border-all">
        <div class="col-md-12 ">
          <div class="row">
            <div class="col-md-12 slider-title">
              <span>Refine Flight Search</span>
            </div>
          </div>
          <div class="row slider">
            <div class="tab-lay">
              <div class="tab-cell left">0</div>
              <div class="tab-cell right">10000</div>
            </div>
            <div class="col-md-12">
              <input type="range" min="" max="10000" value="10000" class="slider" id="costRange">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8  border-top-right">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
</div>
